*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: rgb(95, 95, 95);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}
#calc {
    width: 400px;
    padding: .5em;
    background-color: #a8a8a8;
    display: flex;
    flex-direction: column;

}
#calc h3{
    font-size: .8em;
    font-weight: 300;
    color: #666;
}

#operations {
    text-align: right;
    overflow-wrap: break-word; /*quebra de texto*/
}
#previos-operation {
    color: #777;  
     
}
#current-operation {
    font-size: 3em;
    font-weight: 700;

}

#buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}
#buttons-container button{
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #cecece;
    cursor: pointer; 
}
#buttons-container .number{
    background-color: #f3f3f3;
}

/*quando o mouse está em cima o que fazer*/
#buttons-container button:hover {
    background-color: #bababa;
    border-color: #999;
}

