*{  
    text-align: center;
}

#forma{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    
}
.linha_grupo{
    border-radius: 30px;
    padding: 20px;
    background-color: aqua;
    white-space: nowrap;
    gap: 1em 0;
    display: grid;
    grid: auto / auto auto; /*a linha apos a barra representa quantas colocunas vai ser, antes da barra é o tamanho da primeira*/

}
.exercicio, .input, .exercicio_editando {
    border: 0;
    

}

.exercicio{
    background-color: transparent;
}
.exercicio_editando{

}
.exercicio:focus{
    outline: none;
}

